// smashy theme based on Bootswatch Cosmo theme

@import "./smashy-reset";

@theme-black: #353535;
@theme-white: white;

body {
  color: @theme-black;
}

.control-label {
  font-size: 18px;
}

.form-control {
  border: 2px solid @theme-black;
  color: @theme-black;
  font-size: 20px;
  font-weight: 500;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;

    background: @theme-black;
    color: @theme-white;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:focus, &:active, &:hover {
    color: inherit;
    text-decoration: none;
  }
}


// buttons

.btn {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;

  margin: 0;
  padding: 0;

  height: 43px;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &:focus, &:active, &:hover {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
  }

  &.btn-primary {
    background: @theme-black;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    border: 2px solid @theme-black;

    &:hover {
      border: 2px solid @theme-black;
      background: none;
      color: @theme-black;
    }
  }

  &.btn-link {
    color: inherit;
  }
}
